* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    background-image: url(mediamodifier-I3HPUolh5hA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}
.calculater {
    width: 60vh;
    border-radius: 10px;
    background: #0c833e;
}
input {
    border: none;
    padding: 0px;
    width: 60px;
    height: 60px;
    box-shadow: -8px -8px -15px rgba(206, 97, 97, 0.1) 5px 5px 15px rgba(73, 19, 19, 0.5);
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    color: #fff;
}
.equal {
    width: 145px;
}
.operator {
    color: rgb(177, 40, 6);
}
.colorr {
    background-color: wheat;
    color: black;
    border-radius: 20px;
    grid-column: span 4;
}
form {
    display: grid;
    grid-template-rows: repeat(4, 60px);
}